$main-background-color: rgb(119, 178, 212);
$canvas-background-color: rgb(255, 255, 255);
$shade-background-color: rgb(202, 231, 248);
$shade-background-color-2: rgb(187, 187, 187);
$dark-background-color: rgb(0, 0, 0);

$main-color: rgb(0, 0, 0);

$main-border-color: rgb(153, 153, 153);

/*
$main-background-color: rgb(43, 43, 43);
$canvas-background-color: rgb(43, 43, 43);
$shade-background-color: rgb(32, 32, 32);
$dark-background-color: rgb(53, 53, 53);

$main-color: rgb(196, 196, 196);

$main-border-color: rgb(77, 76, 76);
*/