$main-background-color: rgb(255, 255, 255);
$shade-background-color: rgb(206, 206, 206);
$dark-background-color: rgb(209, 209, 209);

$main-color: rgb(0, 0, 0);

$main-border-color: rgb(129, 129, 129);

/*
$main-background-color: rgb(43, 43, 43);
$shade-background-color: rgb(32, 32, 32);
$dark-background-color: rgb(53, 53, 53);

$main-color: rgb(196, 196, 196);

$main-border-color: rgb(77, 76, 76);
*/