html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

body {
  background-color: #2b2b2b;
  color: #c4c4c4;
}

body canvas {
  background-color: #323232;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}

body #menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: #2b2b2b;
  border: 1px solid #4d4c4c;
}

body #menu-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

body #menu-bar ul li {
  height: 100%;
  cursor: pointer;
}

body #menu-bar ul li button {
  cursor: pointer;
  border: none;
  background-color: #202020;
  color: #c4c4c4;
  height: 100%;
  margin-right: 4px;
}

body #menu-bar ul li button:hover, body #menu-bar ul li button:focus {
  background-color: #2b2b2b;
  color: #c4c4c4;
}

body #menu-bar ul li .submenu {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

body #menu-bar ul li .submenu li {
  width: 100%;
}

body #menu-bar ul li .submenu li button {
  width: 100%;
  border: 1px solid #4d4c4c;
}

body #menu-bar ul li:hover .submenu {
  display: block;
}

body #menu {
  position: fixed;
  top: 3rem;
  left: 1rem;
  width: 15rem;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  border: 1px solid #4d4c4c;
  overflow-y: auto;
}

body #menu #menu-content .drag-container {
  padding: 1rem;
}

body #menu #menu-content .drag-container .box {
  background-color: #c4c4c4;
  height: .2rem;
}

body #menu #menu-content .drop-container h2 {
  background-color: #202020;
  padding: 0.5rem 1rem;
  margin-top: 4px;
  margin-bottom: 0;
  cursor: pointer;
}

body #menu #menu-content .drop-container ul {
  display: none;
}

body #menu #menu-content .open ul {
  display: block;
}

body #menu #menu-content .open ul li {
  list-style: none;
  cursor: pointer;
}

body #menu #menu-content .open ul li:hover, body #menu #menu-content .open ul li:focus {
  background-color: #202020;
  margin-left: 1rem;
}

body #error-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  min-height: 1rem;
  background-color: #310000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 6px solid red;
}

body #error-container p {
  margin: 1rem;
}

body #error-container button {
  margin-right: 1rem;
  border: none;
  background: none;
  color: #c4c4c4;
  font-size: 1rem;
}

body .movable-window {
  position: fixed;
  top: 3rem;
  left: 1rem;
  width: 15rem;
  padding: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2b2b2b;
  border: 1px solid #4d4c4c;
}

body .movable-window .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .movable-window .header .drag-container {
  padding: 1rem;
  cursor: -webkit-grab;
  cursor: grab;
  background-color: #2b2b2b;
}

body .movable-window .header .drag-container .box {
  background-color: #c4c4c4;
  height: .2rem;
}

body .movable-window .header .close-btn {
  height: 2.2rem;
  width: 2.2rem;
  background-color: #9b0101;
  color: #c4c4c4;
  font-weight: bold;
  border: none;
}

body .movable-window .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem;
  background-color: #202020;
}

body .movable-window .content button {
  border: none;
  background-color: #2b2b2b;
  color: #c4c4c4;
  padding: .2rem;
  margin: 0;
}

body .movable-window .content button:hover, body .movable-window .content button:focus {
  background-color: #353535;
  color: #c4c4c4;
}

body .movable-window .content textarea {
  border: none;
  background-color: #2b2b2b;
  color: #c4c4c4;
  margin: 0 0 .5rem 0;
  max-width: 100%;
}

body .movable-window .content .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .movable-window .content .flex-row * {
  margin-left: .5rem;
}

body .movable-window .content .flex-row :first-child {
  margin-left: 0;
}

body .movable-window .grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .hidden {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */