@import 'variables';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    //TODO margin collapse shifts the body and adds a scrollbar
    overflow: hidden;
}

body{
    background-color: $main-background-color;
    color: $main-color;

    canvas{
        background-color:$main-background-color;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
        background-color: $canvas-background-color;
    }

    #menu-bar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 2rem;
        
        background-color: $main-background-color;
        border: 1px solid $main-border-color;

        ul{
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            height: 100%;

            list-style: none;

            li{
                height: 100%;
                cursor: pointer;

                button{
                    cursor: pointer;
                    border: none;
                    background-color: $shade-background-color;
                    color: $main-color;
                    height: 100%;
                    min-width: 4rem;
                    border-right: 1px solid $main-border-color;

                }

                .img-btn{
                    width: 2rem;
                    height: 2rem;
                    margin: 0;
                    padding: 6px;

                    img{
                        max-width: 100%;
                        max-height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                }

                button:hover, button:focus{
                    background-color: $shade-background-color-2;
                    color: $main-color;
                }

                .submenu{
                    position: absolute;
                    flex-direction: column;
                    display: none;
                    border-top: 1px solid $main-border-color;

                    li{
                        width: 100%;

                        button{
                            width: 100%;
                            border: 1px solid $main-border-color;
                            border-top: none;
                        }
                    }
                }
            }

            li:hover{
                .submenu{
                    display: block;
                }
            }
        }
    }

    #error-container{
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        min-height: 1rem;
        background-color: rgb(49, 0, 0);
        color: #ffffff;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-left: 6px solid rgb(255, 0, 0);

        p{
            margin: 1rem;
        }
        
        button{
            margin-right: 1rem;
            border: none;
            background: none;
            font-size: 1rem;
            color: #ffffff;
            cursor: pointer;
        }
    }

    .movable-window{
        position: fixed;
        top: 3rem;
        left: 1rem;
        width: 15rem;
        padding: 0rem;

        display: flex;
        flex-direction: column;

        background-color: $main-background-color;
        border: 1px solid $main-border-color;

        .header{
            display: flex;
            flex-direction: row;

            .drag-container{
                padding: 1rem;
                cursor: grab;
                background-color: $main-background-color;
    
                .box{
                    background-color: $main-color;
                    height: .2rem;
                }
            }
    
            .close-btn{
                height: 2.2rem;
                width: 2.2rem;
    
                background-color: rgb(155, 1, 1);
                color:#ffffff;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            .close-btn:hover{
                background-color: rgb(131, 2, 2);
                color:#cccccc;
            }
        }

        .content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            padding: .5rem;
            background-color: $shade-background-color;

            button{
                border: none;
                background-color: $main-background-color;
                color: $main-color;
                padding: .2rem;
                margin: 0;
            }

            button:hover, button:focus{
                background-color: $shade-background-color;
                color: $main-color;
            }

            textarea{
                border: none;
                background-color: $main-background-color;
                color: $main-color;
                margin: 0 0 .5rem 0;
                max-width: 100%;
            }

            .color-picker{
                border: none;
                padding: 0;
            }

            .flex-row{
                display: flex;
                flex-direction: row;

                *{
                    margin-left: .5rem;
                }

                :first-child{
                    margin-left: 0;
                }
            }

            .drop-container{
                h2{
                    background-color: $shade-background-color;
                    padding: 0.5rem 1rem;
                    margin-top: 4px;
                    margin-bottom: 0;
                    cursor: pointer;
                }

                ul{
                    display: none;
                    background-color: $main-background-color;
                    padding: .2rem 0 .2rem .5rem;
                    margin: 0;
                }
            }

            .open{
                ul{
                    display: block;
                    li{
                        list-style: none;

                        a{
                            display: block;
                            cursor: pointer;
                            width: 100%;
                        }

                        a:hover, a:focus{
                            background-color:  $shade-background-color;

                        }
                    }

                    
                }
            }
        }

        .grow {
            flex-grow: 1;
        }
    }

    .hidden{
        display: none !important;
    }
}