html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
    //TODO margin collapse shifts the body and adds a scrollbar
    overflow: hidden;
}

body{
    background-color: rgb(43, 43, 43);
    color: rgb(196, 196, 196);

    canvas{
        background-color: rgb(50, 50, 50);
        width: 80%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
    }

    #menu{
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: right;

        overflow-y: auto;

        #menu-content{

            .drop-container{
                h2{
                    background-color: rgb(32, 32, 32);
                    padding: 0.5rem 1rem;
                    margin-top: 0;
                    cursor: pointer;
                }

                ul{
                    display: none;
                }
            }

            .open{
                ul{
                    display: block;
                    li{
                        list-style: none;
                        cursor: pointer;
                    }

                    
                    li:hover, li:focus{
                        background-color:  rgb(32, 32, 32);
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    #error-container{
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        min-height: 1rem;
        min-width: 70%;
        background-color: rgb(49, 0, 0);
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-left: 6px solid rgb(255, 0, 0);

        p{
            margin: 1rem;
        }
        
        button{
            margin-right: 1rem;
            border: none;
            background: none;
            color: rgb(196, 196, 196);
            font-size: 1rem;
        }
    }

    .hidden{
        display: none !important;
    }
}